body {
    background-color: #ddf;
    margin: 0px;
    font-family: 'Odibee Sans', cursive;
}
header {
    background-color: #ffd;
    margin: 0px;
    padding: 10px;
    text-align: center;
}
h1 {
    margin: 0px;
    font-size: 60px;
    letter-spacing: 2px;
}
.imagen {
    width: 300px;
    background-color: #ffd;
    transition: all;
    transition-duration: .3s;
    margin: 10px;
}
.imagen:hover {
    background-color: #eed;
}
.imagen:active {
    background-color: #ffd;
}
.imagenes {
    text-align: center;
    margin-top: 10px;
}
p {
    letter-spacing: 0.5px;
}
@media (max-width: 430px) {
    h1 {
        font-size: 40px;
    }
    .imagen {
        width: 200px;
    }
}